body, *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    margin: 5rem 0 0 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#game-container > #players{
    list-style: none;
    display: flex;
    flex-direction: row;
}

#game-container > #players > li{
    display: flex;
    width: 100%;
    padding: 1rem;

    align-items: center;
    justify-content: space-around;
}

#game-container > #players > li > button{
    display: flex;
    padding: 1rem;
    background: inherit;
    border: 2px solid Black;
    box-shadow: 5px 5px black;
}

#game-container > #players > li.active{
        outline: 2px solid blue;
        background-color: cadetblue ;
}

#game-container > #players > li > .player{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-around;
    
    font-size: clamp(0.2vw,3vw,5vw);
    font-weight: 700;
 
}

#gameBoard{
    list-style: none;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

#gameBoard > li >ol >li{
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0.2rem;
}

#gameBoard > li >ol >li > button{
    max-height: 250px;
    max-width: 250px;

    height: 10vw;
    width: 10vw;

    
    font-size: clamp(7vw,10vw,5vw);
    font-weight: 10;
    
}

#logs{
    display: flex;
    flex-direction: column;
}

#logs > li{
    list-style: none;
}